# general
.DS_Store

# logs
npm-debug.log*
firebase-debug.log*

# tests
coverage/

# dependencies
node_modules/

# dotenv
.env

# firebase
.firebase/
.firebaserc
firebase.json
firestore.rules
firestore.indexes.json
storage.rules

# build
dist/
